body {
  text-align: center;
}

.cell {
  display: inline-block;
  width: 10em;
  height:10em;
  margin:1em;
  text-align: center;
  background: skyblue;
}

.cellContainer {
  width: 40em;
  margin: auto;
  text-align: center;
}
